<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideosManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img class="navlogo-img" src="~/Images/logoimg.png" alt="Logo" />
                    VidzzLease
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/User/AllBlogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/User/AllVideos">Videos</a>
                        </li>
                        @if(!string.IsNullOrEmpty(Context.Session.GetString("username")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="User/Dashboard" asp-route-urlname="@Context.Session.GetString("username")">Dashboard</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid main-body">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    &copy; 2020 - A Video Leasing System
                    <a class="navbar-brand footer-navbrand" asp-area="" asp-page="/Index">
                        VidzzLease
                    </a>
                </div>
                <div class="col-6">
                    Design and Concept By <span>"~Sukriti Saini~"</span>
                </div>
                <div class="col-6">
                    Designation: Trainee-Developer (.NET)
                </div>
                <div class="col-6">
                    College: Panjab University, Regional Center, Hoshiarpur.
                </div>
                <div class="col-6">
                    Office: Net Solutions, IT Park, Chandigarh.
                </div>
                <div class="col-6">
                    Contact: (+91)-88722-83355
                </div>
                <div class="col-6">
                    Email: sukriti.saini.275@gmail.com
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
