/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


nav{
    background: black;
    margin-bottom: 0 !important;
    box-shadow: 0px 2px 4px white;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Kaushan Script', cursive;
    color: red;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px white;
    padding-bottom: 0;
}
.navbar-brand .navlogo-img {
    height: 60px;
    width: 100px;
    padding-bottom: 20px;
    filter: drop-shadow(1px 1px 3px white);
}
ul.navbar-nav{
    justify-content: flex-end;
}
a.nav-link{
    color: white;
    font-family: 'Comic Sans MS';
    padding: 8px 8px 0px 42px !important;
}

.main-body{
    margin: 0 !important;
    padding: 0 !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
}
.footer {
    bottom: 0;
    font-size: 14px;
  padding: 15px 0;
  width: 100%;
  background: black;
  white-space: nowrap;
  line-height: 25px; /* Vertically center the text there */
}
.footer-navbrand{
    font-size: 27px !important;
}
.footer span{
    color: #b10000;
}

/*Home Page styling*/
.main-banner {
    margin-top: 65px;
    padding: 40px 0 40px 0;
    background: url("../Images/bannerimg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
}
.banner-text {
    padding: 0 0 0 15px;
    color: white;
    font-family: 'Pangolin', cursive;
    text-shadow: 3px 3px 4px black;
}
.banner-text h1 {
    letter-spacing: 4px;
    font-size: 55px;
    margin: 0;
}
.banner-text h4{
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    margin: 0;
}
.banner-text h2{
    font-size: 55px;
    letter-spacing: 2px;
}
.banner-text p{
    font-size: 25px;
}
.banner-text p span {
    color: black;
    text-shadow: 1px 1px 2px yellow;
}
.banner-text h3{
    letter-spacing: 2px;
    font-size: 40px;
}
.banner-text h5{
    background: rgba(0, 0, 0, 0.70);
    padding: 3px 0;
    text-shadow: 1px 1px 3px yellow;
    font-size: 20px;
    letter-spacing: 1px;
}
.banner-text h5 span{
    color: red;
    text-shadow: 1px 1px 2px white;
}
.banner-text h5 a:hover{
    text-decoration: none;
}
.login-form-div{
    padding: 20px 15px 0px 150px;
}
.login-form {
    background: rgba(0, 0, 0, 0.70);
    border-radius: 8px;
    padding: 20px 15px 20px 15px;
}
.login-text{
    color: white;
    text-shadow: 1px 1px 3px yellow;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
.login-text h3{
    font-size: 25px;
}
.login-text h4{
    font-size: 22px;
}
.main-form label{
    margin: 2px 0 !important;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.main-form input{
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: white;
}
.login-btn{
    margin: 20px 0 30px 0;
    padding: 2px 15px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: 1px 1px 4px white;
    background: rgba(193, 0, 0, 0.80);
}
.login-btn:hover {
    color: black;
    box-shadow: none;
    border: 1px solid white;
    background: rgba(193, 0, 0, 0.60);
}
.signup-text h5{
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 18px;
}
.signup-text h5 a span{
    font-style: italic;
    color: red;
    text-shadow: 1px 1px 2px white;
}
.signup-text h5 a:hover{
    text-decoration: none;
}
.main-quote{
    padding: 30px 0px;
}
.quote-img img{
    width: 200px;
    height: 275px;
}
.quote-text {
    padding: 65px 15px;
    font-family: 'Dancing Script', cursive;
}
.quote-text h2{
    font-size: 38px;
}
.quote-text h2 i{
    color: red;
    font-size: 30px;
    font-weight: 700;
}
.quote-text h2 span{
    font-family:'Arial Rounded MT';
    font-size: 25px;
    font-weight: 500;
}


/*SignUp Page Styling*/
.signup-form{
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    padding: 30px 20px;
}
.signup-back {
    padding-bottom: 70px !important;
}
.newuser-back {
    margin-top: 65px;
    background: url("../Images/signup-back2.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newuser-text{
    padding: 30px 0 20px 0;
    font-family: 'Comic Sans MS';
}
.newuser-text h2{
    color: black;
    font-size: 40px;
    text-shadow: 1px 1px 3px white;
}
.signup-form label {
    color: white;
    font-size: 16px;
    margin: 0;
    margin-bottom: 35px;
}
.signup-form input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}
.signup-form span{
    font-size: 12px;
}
.pro-pic input{
    width: auto;
}
.upload-btn {
    margin-top: 5px;
    border: 1px solid black;
    vertical-align: super;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 9px;
    color: black !important;
    background: rgba(255, 255, 255, 0.7) !important;
}
.upload-btn:hover {
    color: red !important;
    cursor: pointer;
}
.uploaded-img{
    position: absolute;
    left: 60px;
    top: 180px;
    height: 225px;
    width: 180px;
}
.uploaded-img img{
    box-shadow: 0px 1px 4px white;
    min-height: 200px;
    background-color: none;
    padding: 0;
    border-radius: 0;

}
.signup-btn {
    margin-top: 20px;
    padding: 2px 15px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: 1px 1px 4px white;
    background: rgba(193, 0, 0, 0.80);
}
.signup-btn:hover {
    color: black;
    box-shadow: none;
    border: 1px solid white;
    background: rgba(193, 0, 0, 0.60);
}


/*Dashboard*/
.maindashboard{
    margin-top: 80px;
    margin-bottom: 20px;
} 
.writeblog-btn{
    padding: 5px 15px;
}


/*All videos*/
.searchvideo {
    font-size: 13px;
    margin-bottom: 4px;
    color: white;
    font-family: 'Comic Sans MS';
}
.allvideos {
    margin-top: 65px;
    background: url("/Images/videospage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}
.search-section {
    background: rgba(0, 0, 0, 0.60);
    border-bottom: 1px solid white;
    border-radius: 5px;
}
.search-input {
    background: transparent !important;
    color: white !important;
    outline: none;
    border: none;
}
.search-logo {
    color: white;
}
.heading-allvids h1{
    padding-top: 20px;
    font-family: 'Comic Sans MS';
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
.single-video{
    min-height: 425px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-shadow: 0px 1px 4px rgba(185, 0, 0, 0.60);
}
.videoname{
    color: white;
    font-family: 'Comic Sans MS';
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 3px white;
}
.videoname h4{
    font-size: 23px;
}
.videoimg{
    padding-top: 15px;
    padding-bottom: 15px;
}
img.img-thumbnail.videomain-img {
    min-height: 200px;
    max-height: 200px;
    width: 100%;
}
.videoimgbottom{
    padding-top: 2px;
    color: white;
    font-family: 'Comic Sans MS';
}
.videoimgbottom h6{
    font-weight: 500;
}
.videoimgbottom p{
    font-size: 13px;
}
.videoimgbottom a{
    border: 1px solid white;
    background: black;
    color: white;
}
.videoimgbottom a:hover{
    color: #b40000;
}

/*Video Details Page*/
.video-details{
    background: url("/Images/videodetails.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 65px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.allvid-details{
    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: white;
    font-family: 'Comic Sans MS';
}
.addvidrecord-btn{
    margin-top: 20px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.70);
    color: black;
}



/*Write Blog Page*/
.writeblog-page{
    background: url("/Images/blog-form.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 65px;
}
.writeblog-heading{
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px black;
}
.postblog-btn{
    background: rgba(255, 255, 255, 0.95);
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    border: 1px solid white;
}
.postblog-btn:hover{
    color: #c10000;
    border: 1px solid #c10000;
}


/*Display All Blogs*/
.allblogs-back{
    background: url("/Images/allblogs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin-top: 65px;
}
.allblogs-heading{
    padding-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: 'Comic Sans MS';
}
.single-blog{
    background: rgba(255, 255, 255, 0.65);
    margin: 20px 0;
    border: 1px solid white;
    border-radius: 5px;
}
.blog-displayimg{
    max-height: 400px;
    width: 100%;
}
.bdisplay-img{
    padding: 0;
}
.blog-desc{
    padding-top: 5px;
    padding-bottom: 5px;
}