@page "{urlname}"
@model VideosManagementSystem.Pages.User.WriteBlogModel
@{
    ViewData["Title"] = "WriteBlog";
}


<div class=" container-fluid writeblog-page">
    <div class="container">
        <h1 class="writeblog-heading">Write Your Blog Here</h1>

        <div class="signup-back">
            <form class="signup-form col-6 mx-auto" enctype="multipart/form-data" method="post">
                <div class="row">
                    <input type="hidden" asp-for="writeBlog.Users" value="SingleUserData" />
                    <div class="col-5">
                        <label>Blog Title :</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="writeBlog.BlogTitle" autocomplete="off" />
                        <span class="text-danger" asp-validation-for="writeBlog.BlogTitle"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Description :</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="writeBlog.BlogDescription" autocomplete="off" />
                        <span class="text-danger" asp-validation-for="writeBlog.BlogDescription"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Image :</label>
                    </div>
                    <div class="col-7 pro-pic">
                        <input asp-for="BlogPicture" accept="image/*" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Content :</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="writeBlog.Blogcontent" autocomplete="off" />
                        <span class="text-danger" asp-validation-for="writeBlog.Blogcontent"></span>
                    </div>

                    <div class="col-12 text-center">
                        <button class="btn postblog-btn" type="submit">Post Blog</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

