@page
@model VideosManagementSystem.Pages.User.WriteBlogModel
@{
    ViewData["Title"] = "WriteBlog";
}

<div class="container">
    <div class="writeblog-page">
        <h1>Write Your Blog Here</h1>

        <div class="signup-back">
            <form class="signup-form col-6 mx-auto" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-5">
                        <label>Blog Title :</label>
                    </div>
                    <div class="col-7">
                        <input autocomplete="off" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Description :</label>
                    </div>
                    <div class="col-7">
                        <input autocomplete="off" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Image :</label>
                    </div>
                    <div class="col-7 pro-pic">
                        <input accept="image/*" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Content :</label>
                    </div>
                    <div class="col-7">
                        <input autocomplete="off" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label>Blog Date :</label>
                    </div>
                    <div class="col-7">
                        <input autocomplete="off" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-12 text-center">
                        <button class="btn signup-btn" type="submit">Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

